/*This is the arrival form page component css */
:host {
  display: block;
}
.arrival{
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	align-items: center;
	border-radius: 8px;
	width: 100%;
	height: auto;
	padding: 20px;
	background: rgba(255,255,255, 0.2);

}