/*This is the arrival form page component css */
.arrival{
	margin: 200px auto;
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	align-items: center;
	border-radius: 8px;
	width: 360px;
	height: auto;
	padding: 20px;
	background: rgba(255,255,255, 0.2);
	h1{
		font-family: 'Yantramanav', sans-serif;
		font-size: 30px;
		color: white;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	input[type='text'],
	input[type='number'],
	button,
	select{
		width: 100%;
		margin-bottom: 20px;
		padding: 10px 20px;
		outline: none;
	}
	select{
		-webkit-appearance: none;
	}

}