<!-- This is the arrival form page component html -->

<main class="arrival">
	<section>
	<h1>{{title}}</h1>
		<fieldset>
			<form action="">
				<!-- <label>Name</label> -->
				<input type="text" name="Name" placeholder="Input words" required>
				
				<!-- <label>Age</label> -->
				<input type="number" name="Name" placeholder="Input Age" required>

				<!-- <label>Occupation</label> -->
				<select>
					<option>Just test option</option>
				</select>
				
				<input type="submit" name="submit" value="Check-in">

			</form>

		</fieldset>
	</section>
</main>
