<!-- This is the arrival form page component html -->

<main class="arrival">
	<section>
	<h1>{{title}}</h1>
		<form #arrivalForm="ngForm" (ngSubmit)="onSubmit()" name="arrivalForm" action="" >
			
			<fieldset>
			
				<input type="text" [(ngModel)]="colonist.name" name="name" placeholder="Name" required>
				
				<input type="number" [(ngModel)]="colonist.age" name="age" placeholder="Age" required>

				<div class="custom-select">
					<select [(ngModel)]="colonist.job_id" name="job_id" required>

						<option value="(none)" disabled>
							Select an Occupation
						</option>
						<option *ngFor="let o of occupations" [value]="o.id">
							{{o.name}}
						</option>

					</select>
				</div>

				<button [disabled]="noOccupation || !arrivalForm.form.valid" type="submit">
					Check-in
				</button>

			</fieldset>
		</form>

		<p></p>
	</section>
</main>
