<!-- This is the arrival form page component html -->

<main class="arrival">
	<section>
	<h1>{{title}}</h1>
		<fieldset>
			<form action="">
				<!-- <label>Name</label> -->
				<input type="text" name="name" placeholder="Input words" required>
				
				<!-- <label>Age</label> -->
				<input type="number" name="age" placeholder="Input Age" required>

				<!-- <label>Occupation</label> -->
				<select required="">
					<option value="none">Select an Occupation</option>
					<option>Just test option</option>
					<option>Just test option</option>
					<option>Just test option</option>
				</select>
				
				<button type="submit">
					Check-in
				</button>

				<!-- <input type="submit" name="submit" value="Check-in"> -->

			</form>

		</fieldset>
	</section>
</main>
