<!-- This is the encounter page free component html  -->
<main class="encounters">
	<section>
		<h1>{{title}}</h1>
		<div *ngIf="!encounters" class="loader"></div>

		<ul class="encounter-list" *ngIf="encounters">
			<li *ngFor="let encounter of ( encounters | sortByDate)">
				<div class="atype">
					{{encounter.atype}}
					<span class="date">{{encounter.date}}</span>
				</div>
				<p class="action">{{encounter.action}}</p>
			</li>
		</ul>

		<a [routerLink]="['/report']">
			<button class="report" >
				Report Encounters
			</button>
		</a>
		
	</section>
</main>
