<!-- This is the encounter page free component html  -->
<main class="encounters">
	<section>
		<h1>{{title}}</h1>
		<div *ngIf="!encounters" class="loader"></div>

		<ul class="encounter-list" *ngIf="encounters">
			<!-- <li *ngFor="let encounter of ( encounters | sortByDate)"> -->
			<li *ngFor="let encounter of encounters">
				<h2>
					{{encounter.atype}}
					<span class="date">{{encounter.date}}</span>
				</h2>
				<p class="action">{{encounter.action}}</p>
			</li>
		</ul>

		<a [routerLink]="['/report']">
			<button class="report" >
				Report Encounters
			</button>
		</a>
		<a [routerLink]="['/marsblog']">
			<button class="mars-blog" >
				Read the Mars Blog
			</button>
		</a>
		
	</section>
</main>
