/* Form Styles */

input[type='text'],
input[type='number'],
button,
select,
textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 20px 20px;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.3);
	color: white;
	font-size: 1rem;
	text-transform: uppercase;
	&.ng-dirty.ng-invalid{
		-webkit-animation: buzz 300ms linear alternate infinite;
		@-webkit-keyframes "buzz" {
			0%{
				box-shadow: 0px 0px 2px 0px rgba(176, 42, 37, 0.5)
			}

			100%{
				box-shadow: 0px 0px 20px 0px rgb(176, 42, 37)
			}
		}
	}
}
select{
	-webkit-appearance: none;
}
button{
	background-color: rgba(39,40,61, 0.8);
	font-weight: 300;
	cursor: pointer;
	font-size: 1.2rem;
	transition: background-color 0.3s ease;
	&:disabled{
		background-color: rgba(39,40,61, 0.2);
	}
}